<!DOCTYPE html>
<html lang="en">

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title><%= title %></title>

    <%- include('../common/stylesheets'); %>

    <!-- Datatables -->
    <link href="../vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
    <link href="../vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
    <link href="../vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
    <link href="../vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
    <link href="../vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">

  </head>

  <body class="nav-md">
    <div class="container body">
      <div class="main_container">
        <%- include('../common/navigation'); %>

        <!-- page content -->
        <div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left" style="width:75%">
                <h3>
                  <i class="fa fa-dollar my-bills-icon"></i>All Bills</h3>
              </div>
            </div>
            <!-- page title -->

            <div class="clearfix"></div>

            <div class="">

              <div class="clearfix"></div>

              <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <div class="x_panel">

                    <div class="x_content">
                      <div class="" role="tabpanel" data-example-id="togglable-tabs">
                        <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                          <li role="presentation" class="active">
                            <a href="#tab_content1" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">Bill Details</a>
                          </li>
                          <li role="presentation" class="">
                            <a href="#tab_content2" role="tab" id="bill-due-tab" data-toggle="tab" aria-expanded="false">Bill Dues Report</a>
                          </li>
                          <li role="presentation" class="">
                            <a href="#tab_content3" role="tab" id="defaulter's-tab" data-toggle="tab" aria-expanded="false">Defaulter's Report</a>
                          </li>
                        </ul>

                        <div id="myTabContent" class="tab-content">
                          <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="home-tab">

                            <form class="form-inline search-visitor-field">
                              <h4 class="label-filter">
                                <i class="fa fa-filter"></i>Filter</h4>

                              <div class="form-group service-request">
                                <select class="form-control">
                                  <option>Select Service Type</option>
                                  <option>Plumbing</option>
                                  <option>Electrical</option>
                                </select>
                              </div>
                              <div class="form-group has-feedback">
                                <input type="text" class="form-control" id="inputSuccess470" placeholder="Enter Name">
                              </div>
                              <div class="form-group has-feedback">
                                <input type="text" class="form-control" id="inputSuccess471" placeholder="Block Number">
                              </div>
                              <div class="form-group has-feedback">
                                <input type="text" class="form-control" id="inputSuccess472" placeholder="Flat Number">
                              </div>
                              <button class="btn btn-success btn-search" style="margin-top:5px;">
                                <i class="fa fa-search" style="font-size:20px"></i>
                              </button>
                            </form>

                            <div class="x_content">
                              <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12">

                                  <div class="x_panel" style="padding:0">

                                    <div class="x_title label-my-documents">
                                      <h2 style="font-weight:200;">Bill Details</h2>
                                      <button class="btn btn-success import-bills-btn">
                                        <i class="fa fa-plus-circle"></i>Import Bills</button>
                                      <div class="clearfix"></div>
                                    </div>

                                    <div class="x_content" style="padding:0">
                                      <table class="table common-table">
                                        <thead>
                                          <tr>
                                            <th>Date & Month</th>
                                            <th>Name</th>
                                            <th>Services Type</th>
                                            <th>Due Date</th>
                                            <th>Status</th>
                                            <th class="text-center">Bill Amount</th>
                                            <th>Action</th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                          <tr>
                                            <td>15-Jun-2016</th>
                                            <td>V.S Prasad (II,7B)</td>
                                            <td>Plumbing</td>
                                            <td>21 July</td>
                                            <td data-toggle="modal" data-target=".bs10-example-modal-sm" style="cursor:pointer;">Cheque Pickup</td>
                                            <td class="text-center">&#8377 560</td>
                                            <td>
                                              <button type="button" class="btn btn-success btn-xs">Send Reminder</button>
                                            </td>
                                          </tr>

                                          <tr class="closed-status-row">
                                            <td>15-Jun-2016</th>
                                            <td>V.S Prasad (II,7B)</td>
                                            <td>Plumbing</td>
                                            <td>30-Jun</td>
                                            <td>Pending</td>
                                            <td class="text-center">&#8377 560</td>
                                            <td>
                                              <button
                                                type="button"
                                                class="btn btn-xs btn-paid-online"
                                                data-container="body"
                                                data-toggle="popover"
                                                data-trigger="hover"
                                                data-placement="bottom"
                                                title="Details"
                                                data-content="
																						        <p>Name: <span>V.S Prasad</span></p>
																			                    <p>Phone: <span>+91 888 888 8888</span></p>
																			                    <p>Date: <span>23rd July 2016 </span></p>
																			                    <p>Transaction ID: <span>345SAT125FR</span></p>">Paid Online</button>
                                            </td>
                                          </tr>
                                          <tr class="overdue">
                                            <td>15-Jun-2016</th>
                                            <td>V.S Prasad (II,7B)</td>
                                            <td>Plumbing</td>
                                            <td>30-Jun</td>
                                            <td>Over Due</td>
                                            <td class="text-center">&#8377 1560</td>
                                            <td>
                                              <button type="button" class="btn red-btn btn-xs">Send Reminder</button>
                                            </td>
                                          </tr>

                                        </tbody>
                                      </table>
                                    </div>
                                    <!-- x-content -->
                                  </div>
                                  <!-- x_panel -->
                                </div>
                              </div>

                            </div>
                            <!-- x-content -->

                          </div>

                          <div role="tabpanel" class="tab-pane fade" id="tab_content2" aria-labelledby="bill-due-tab">
                            <div class="x_content">
                              <form class="form-inline search-visitor-field">
                                <h4 class="label-filter">
                                  <i class="fa fa-filter"></i>Period</h4>

                                <div class="form-group">
                                  <select class="form-control">
                                    <option>Select Month</option>
                                    <option>July'16</option>
                                    <option>June'16</option>
                                    <option>May'16</option>
                                    <option>April'16</option>
                                  </select>
                                </div>
                                <h4 class="label-filter">to</h4>
                                <div class="form-group">
                                  <select class="form-control">
                                    <option>Select Month</option>
                                    <option>Aug'15</option>
                                    <option>July'15</option>
                                    <option>June'15</option>
                                    <option>May'15</option>
                                    <option>April'15</option>
                                  </select>
                                </div>
                                <h4 class="label-filter">Category</h4>
                                <div class="form-group service-request">
                                  <select class="form-control">
                                    <option>All</option>
                                    <option>Plumbing</option>
                                    <option>Electrical</option>
                                  </select>
                                </div>
                                <button class="btn btn-success btn-search" style="margin-top:5px;">
                                  <i class="fa fa-search" style="font-size:20px"></i>
                                </button>
                              </form>

                              <div class="row">
                                <div class="col-xs-12">
                                  <canvas id="mybarChart"></canvas>

                                  <br/>
                                  <br/>
                                  <br/>
                                </div>

                                <div class="col-xs-12">
                                  <canvas id="mybarChart1"></canvas>
                                </div>
                              </div>
                            </div>
                            <!-- x_content -->
                          </div>
                          <!-- class="tab-pane fade" -->

                          <div role="tabpanel" class="tab-pane fade" id="tab_content3" aria-labelledby="defaulter's-tab">
                            <div class="x_content">
                              <form class="form-inline search-visitor-field">
                                <h4 class="label-filter">
                                  <i class="fa fa-filter"></i>Period</h4>

                                <div class="form-group">
                                  <select class="form-control">
                                    <option>Select Month</option>
                                    <option>July'16</option>
                                    <option>June'16</option>
                                    <option>May'16</option>
                                    <option>April'16</option>
                                  </select>
                                </div>
                                <h4 class="label-filter">to</h4>
                                <div class="form-group">
                                  <select class="form-control">
                                    <option>Select Month</option>
                                    <option>Aug'15</option>
                                    <option>July'15</option>
                                    <option>June'15</option>
                                    <option>May'15</option>
                                    <option>April'15</option>
                                  </select>
                                </div>
                                <h4 class="label-filter">Category</h4>
                                <div class="form-group service-request">
                                  <select class="form-control">
                                    <option>All</option>
                                    <option>Plumbing</option>
                                    <option>Electrical</option>
                                  </select>
                                </div>
                                <div class="form-group has-feedback">
                                  <input type="text" class="form-control" id="inputSuccess473" placeholder="Block Number">
                                </div>

                                <button class="btn btn-success btn-search" style="margin-top:5px;">
                                  <i class="fa fa-search" style="font-size:20px"></i>
                                </button>
                              </form>
                              <br/>

                              <div class="label-defaulter-details">
                                <h2>Defaulter's Details<i class="fa fa-times-circle"></i>
                                </h2>
                                <h4>
                                  <i class="fa fa-user"></i>V.S Prasad (Block: III, 3A )</h4>
                                <span>
                                  <h5>
                                    <i class="fa fa-angle-double-right"></i>
                                    Bill 1: Electricity
                                  </h5>

                                  <h5>
                                    <i class="fa fa-angle-double-right"></i>
                                    Due Date: 27th July 2016
                                  </h5>

                                  <h5>
                                    <i class="fa fa-angle-double-right"></i>
                                    Amount: 2026 INR</h5>
                                </span>
                                <span>
                                  <h5>
                                    <i class="fa fa-angle-double-right"></i>
                                    Bill 2: Plumbing
                                  </h5>

                                  <h5>
                                    <i class="fa fa-angle-double-right"></i>
                                    Due Date: 27th July 2016
                                  </h5>

                                  <h5>
                                    <i class="fa fa-angle-double-right"></i>
                                    Amount: 1026 INR</h5>
                                </span>
                              </div>
                              <br/>

                              <div class="x_panel">
                                <table id="datatable-buttons" class="table table-bordered common-table" style="width:100%">
                                  <thead>
                                    <tr>
                                      <th>#</th>
                                      <th>Name</th>
                                      <th>Flat</th>
                                      <th>Total Due Amount</th>
                                      <th>No. of Bills</th>
                                      <th class="text-center">Details</th>
                                      <th class="text-center">Contact</th>
                                    </tr>
                                  </thead>

                                  <tbody>
                                    <tr>
                                      <td>
                                        <div class="checkbox">
                                          <label>
                                            <input type="checkbox" class="flat">
                                          </label>
                                        </div>
                                      </td>
                                    </td>
                                    <td>V.S Prasad</td>
                                    <td>III, 3A</td>
                                    <td>1325</td>
                                    <td>3</td>
                                    <td class="text-center">
                                      <button class="btn btn-primary btn-xs">View Details</button>
                                    </td>
                                    <td class="text-center">
                                      <i class="fa fa-envelope"></i>
                                      &nbsp | &nbsp
                                      <i class="fa fa-comment-o"></i>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td>
                                      <div class="checkbox">
                                        <label>
                                          <input type="checkbox" class="flat">
                                        </label>
                                      </div>
                                    </td>
                                    <td>Vivek Gupta</td>
                                    <td>II, 8A</td>
                                    <td>2325</td>
                                    <td>3</td>
                                    <td class="text-center">
                                      <button class="btn btn-primary btn-xs">View Details</button>
                                    </td>
                                    <td class="text-center">
                                      <i class="fa fa-envelope"></i>
                                      &nbsp | &nbsp
                                      <i class="fa fa-comment-o"></i>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td>
                                      <div class="checkbox">
                                        <label>
                                          <input type="checkbox" class="flat">
                                        </label>
                                      </div>
                                    </td>
                                    <td>S.V Sharma</td>
                                    <td>I, 7A</td>
                                    <td>1725</td>
                                    <td>3</td>
                                    <td class="text-center">
                                      <button class="btn btn-primary btn-xs">View Details</button>
                                    </td>
                                    <td class="text-center">
                                      <i class="fa fa-envelope"></i>
                                      &nbsp | &nbsp
                                      <i class="fa fa-comment-o"></i>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td>
                                      <div class="checkbox">
                                        <label>
                                          <input type="checkbox" class="flat">
                                        </label>
                                      </div>
                                    </td>
                                    <td>V.V Narayan</td>
                                    <td>II, 5D</td>
                                    <td>1925</td>
                                    <td>3</td>
                                    <td class="text-center">
                                      <button class="btn btn-primary btn-xs">View Details</button>
                                    </td>
                                    <td class="text-center">
                                      <i class="fa fa-envelope"></i>
                                      &nbsp | &nbsp
                                      <i class="fa fa-comment-o"></i>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td>
                                      <div class="checkbox">
                                        <label>
                                          <input type="checkbox" class="flat">
                                        </label>
                                      </div>
                                    </td>
                                    <td>Shyam Agarwal</td>
                                    <td>III, 8C</td>
                                    <td>1525</td>
                                    <td>3</td>
                                    <td class="text-center">
                                      <button class="btn btn-primary btn-xs">View Details</button>
                                    </td>
                                    <td class="text-center">
                                      <i class="fa fa-envelope"></i>
                                      &nbsp | &nbsp
                                      <i class="fa fa-comment-o"></i>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td>
                                      <div class="checkbox">
                                        <label>
                                          <input type="checkbox" class="flat">
                                        </label>
                                      </div>
                                    </td>
                                    <td>Girish Lahoti</td>
                                    <td>II, 9B</td>
                                    <td>1125</td>
                                    <td>3</td>
                                    <td class="text-center">
                                      <button class="btn btn-primary btn-xs">View Details</button>
                                    </td>
                                    <td class="text-center">
                                      <i class="fa fa-envelope"></i>
                                      &nbsp | &nbsp
                                      <i class="fa fa-comment-o"></i>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td>
                                      <div class="checkbox">
                                        <label>
                                          <input type="checkbox" class="flat">
                                        </label>
                                      </div>
                                    </td>
                                    <td>Arka Saha</td>
                                    <td>I, 1A</td>
                                    <td>1725</td>
                                    <td>1</td>
                                    <td class="text-center">
                                      <button class="btn btn-primary btn-xs">View Details</button>
                                    </td>
                                    <td class="text-center">
                                      <i class="fa fa-envelope"></i>
                                      &nbsp | &nbsp
                                      <i class="fa fa-comment-o"></i>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td>
                                      <div class="checkbox">
                                        <label>
                                          <input type="checkbox" class="flat">
                                        </label>
                                      </div>
                                    </td>
                                    <td>Rudra Ghosh</td>
                                    <td>III, 6D</td>
                                    <td>1885</td>
                                    <td>2</td>
                                    <td class="text-center">
                                      <button class="btn btn-primary btn-xs">View Details</button>
                                    </td>
                                    <td class="text-center">
                                      <i class="fa fa-envelope"></i>
                                      &nbsp | &nbsp
                                      <i class="fa fa-comment-o"></i>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td>
                                      <div class="checkbox">
                                        <label>
                                          <input type="checkbox" class="flat">
                                        </label>
                                      </div>
                                    </td>
                                    <td>D.S Choudhary</td>
                                    <td>II, 8A</td>
                                    <td>2325</td>
                                    <td>3</td>
                                    <td class="text-center">
                                      <button class="btn btn-primary btn-xs">View Details</button>
                                    </td>
                                    <td class="text-center">
                                      <i class="fa fa-envelope"></i>
                                      &nbsp | &nbsp
                                      <i class="fa fa-comment-o"></i>
                                    </td>
                                  </tr>

                                  <tr>
                                    <td>
                                      <div class="checkbox">
                                        <label>
                                          <input type="checkbox" class="flat">
                                        </label>
                                      </div>
                                    </td>
                                    <td>H.S Agarwala</td>
                                    <td>I, 8B</td>
                                    <td>1992</td>
                                    <td>3</td>
                                    <td class="text-center">
                                      <button class="btn btn-primary btn-xs">View Details</button>
                                    </td>
                                    <td class="text-center">
                                      <i class="fa fa-envelope"></i>
                                      &nbsp | &nbsp
                                      <i class="fa fa-comment-o"></i>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>

                              <br>
                              <br>
                              <div class="text-center">
                                <button class="btn btn-md btn-success">
                                  <i class="fa fa-envelope"></i>&nbsp Emails Selected</button>
                                &nbsp &nbsp
                                <button class="btn btn-md btn-success">
                                  <i class="fa fa-comment-o"></i>&nbsp Messages Selected</button>
                              </div>

                            </div>
                            <!-- x_panel -->
                          </div>
                          <!-- x_content -->
                        </div>
                        <!---  id="tab_content3" --->

                      </div>
                      <!-- class="tab-content" -->

                    </div>
                    <!-- data-example-id="togglable-tabs" -->
                  </div>
                  <!-- x_content -->
                </div>
                <!-- x_panel -->
              </div>
            </div>
            <!--  Cheque Pick up modal  -->
            <div class="modal fade bs10-example-modal-sm" tabindex="-1" role="dialog" aria-hidden="true">
              <div class="modal-dialog modal-sm">
                <div class="modal-content">

                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel3">Cheque Pickup Requested</h4>
                  </div>
                  <div class="modal-body" style="padding-bottom:0">
                    <div class="row">
                      <div class="col-md-12 col-sm-12 col-xs-12 classified-details">
                        <h4>By:
                          <span>V.S Prasad (II,7B)</span>
                        </h4>
                        <h4>Amount:
                          <span>&#8377 5000</span>
                        </h4>
                        <h4>Date:
                          <span>1pm, 24th July 2016</span>
                        </h4>
                        <form class="form-inline">
                          <div class="form-group has-feedback">
                            <input type="text" class="form-control" id="inputSuccess482" placeholder="Assign Person Name">
                          </div>
                          &nbsp &nbsp &nbsp &nbsp
                          <button class="btn btn-success" style="margin-top:5px;">OK</button>
                        </form>
                      </div>
                    </div>
                    <!-- notice-modal -->
                  </div>
                  <!-- modal-body -->

                </div>
                <!-- modal-content -->
              </div>
            </div>
          </div>
          <!-- create new bill modal  --->

          <!-- *** create new bill modal
							<div class="modal fade bs7-example-modal-sm" tabindex="-1" role="dialog" aria-hidden="true">
                                <div class="modal-dialog modal-sm">
                                    <div class="modal-content">

                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span>
                                            </button>
                                            <h4 class="modal-title" id="myModalLabel3">New Bill</h4>
                                        </div>
                                        <div class="modal-body">
                                            <div class="row notice-modal">
												<div class="col-md-12 col-sm-12 col-xs-12">
												  <form>
													<div class="form-group has-feedback row create-bill_modal">
													    <div class="col-xs-4">
														    <input type="text" class="form-control" id="inputSuccess652" placeholder="Name">
														</div>
														<div class="col-xs-4">
														    <input type="text" class="form-control" id="inputSuccess653" placeholder="Block Number">
														</div>
														<div class="col-xs-4">
														    <input type="text" class="form-control" id="inputSuccess653" placeholder="Flat Number">
														</div>
														<div class="col-xs-6">
														    <div class="form-group">
											                    <select class="form-control">
                                                                    <option>Service Type</option>
                                                                    <option>Plumbing</option>
                                                                    <option>Carpentry</option>
												                    <option>Electrical</option>
											                    </select>
										                    </div>
														</div>
													    <div class="col-xs-6">
														    <input type="text" class="form-control" id="inputSuccess654" placeholder="&#8377 Amount">
														</div>
													    <div class="col-xs-6">
														    <input type="text" class="form-control has-feedback-left" id="inputSuccess655" placeholder="Date">
															<span class="fa fa-calendar form-control-feedback left" aria-hidden="true"></span>
														</div>
													    <div class="col-xs-6">
														    <input type="text" class="form-control has-feedback-left" id="inputSuccess655" placeholder="Set Due Date">
															<span class="fa fa-calendar form-control-feedback left" aria-hidden="true"></span>
														</div>
													</div>

													<div class="text-center">
													    <button class="btn btn-success">Send Bill</button>
													</div>
												  </form>
												</div>

											</div> <!-- notice-modal
                                        </div> <!-- modal-body

									</div>
                                </div>
                            </div>
						<!-- create new bill modal  --->

          <!-- /page content -->

          <!-- footer content
                        <footer>
                            <div class="pull-right">
                                Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>
                            </div>
                            <div class="clearfix"></div>
                        </footer>
                        <!-- /footer content -->
        </div>
      </div>
      <!-- right_col -->

      <div id="custom_notifications" class="custom-notifications dsp_none">
        <ul class="list-unstyled notifications clearfix" data-tabbed_notifications="notif-group"></ul>
        <div class="clearfix"></div>
        <div id="notif-group" class="tabbed_notifications"></div>
      </div>
    </div>
    <!-- main container -->
  </div>
  <!-- container body -->

  <%- include('../common/javascripts'); %>

  <!-- Chart.js -->
  <script src="../vendors/Chart.js/dist/Chart.min.js"></script>

  <script>
    // Bar chart
    var ctx = document.getElementById("mybarChart");
    var mybarChart = new Chart(ctx, {
      type: 'bar',
      data: {
        labels: [
          "July16",
          "June16",
          "May16",
          "April16",
          "March16",
          "February16",
          "January16",
          "December15",
          "November15",
          "October15",
          "September15",
          "August15"
        ],
        datasets: [
          {
            label: 'PAID',
            backgroundColor: "#26B99A",
            data: [
              20000,
              15000,
              18000,
              22000,
              20900,
              17500,
              14500,
              16000,
              13200,
              16600,
              19000,
              17000
            ]
          }, {
            label: 'DUE',
            backgroundColor: "#e06e6e",
            data: [
              10000,
              8000,
              7000,
              9000,
              7200,
              8800,
              12000,
              9000,
              12000,
              11000,
              10000,
              8000
            ]
          }
        ]
      },

      options: {
        scales: {
          yAxes: [
            {
              ticks: {
                beginAtZero: true
              }
            }
          ]
        }
      }
    });
  </script>

  <script>
    // Bar chart
    var ctx = document.getElementById("mybarChart1");
    var mybarChart1 = new Chart(ctx, {
      type: 'bar',
      data: {
        labels: [
          "Electric", "Plumbing", "Carpentry"
        ],
        datasets: [
          {
            label: 'PAID',
            backgroundColor: "#26B99A",
            data: [17100, 13000, 14000]
          }, {
            label: 'DUE',
            backgroundColor: "#e06e6e",
            data: [8100, 7600, 9500]
          }
        ]
      },

      options: {
        scales: {
          yAxes: [
            {
              ticks: {
                beginAtZero: true
              }
            }
          ]
        }
      }
    });
  </script>

  <!-- ***  POPOVER **** -->
  <script>
    $(document).ready(function() {
      $('.btn-paid-online').popover({title: "", content: "", placement: "bottom", html: "true"});
    });
  </script>


<script>
 $(document).ready(function() {
   var handleDataTableButtons = function() {
     if ($("#datatable-buttons").length) {
       $("#datatable-buttons").DataTable({
         dom: "Bfrtip",
 /*  pageLength: 3, */
         buttons: [
           {
             extend: "copy",
             className: "btn-sm"
           },
           {
             extend: "csv",
             className: "btn-sm"
           },
           {
             extend: "excel",
             className: "btn-sm"
           },
           {
             extend: "pdfHtml5",
             className: "btn-sm"
           },
           {
             extend: "print",
             className: "btn-sm"
           },
         ],
         responsive: true
       });
     }
   };

   TableManageButtons = function() {
     "use strict";
     return {
       init: function() {
         handleDataTableButtons();
       }
     };
   }();
/*
   $('#datatable').dataTable();
   $('#datatable-keytable').DataTable({
     keys: true
   });

   $('#datatable-responsive').DataTable();

   $('#datatable-scroller').DataTable({
     ajax: "js/datatables/json/scroller-demo.json",
     deferRender: true,
     scrollY: 380,
     scrollCollapse: true,
     scroller: true
   });

   var table = $('#datatable-fixed-header').DataTable({
     fixedHeader: true
   });
*/

   TableManageButtons.init();
 });
</script>
<!-- Custom Notification -->
<script>
$(document).ready(function() {
var cnt = 10;

TabbedNotification = function(options) {
var message = "<div id='ntf" + cnt + "' class='text alert-" + options.type + "' style='display:none'><h2><i class='fa fa-bell'></i> " + options.title +
"</h2><div class='close'><a href='javascript:;' class='notification_close'><i class='fa fa-close'></i></a></div><p>" + options.text + "</p></div>";

if (!document.getElementById('custom_notifications')) {
alert('doesnt exists');
} else {
$('#custom_notifications ul.notifications').append("<li><a id='ntlink" + cnt + "' class='alert-" + options.type + "' href='#ntf" + cnt + "'><i class='fa fa-bell animated shake'></i></a></li>");
$('#custom_notifications #notif-group').append(message);
cnt++;
CustomTabs(options);
}
};

CustomTabs = function(options) {
$('.tabbed_notifications > div').hide();
$('.tabbed_notifications > div:first-of-type').show();
$('#custom_notifications').removeClass('dsp_none');
$('.notifications a').click(function(e) {
e.preventDefault();
var $this = $(this),
  tabbed_notifications = '#' + $this.parents('.notifications').data('tabbed_notifications'),
  others = $this.closest('li').siblings().children('a'),
  target = $this.attr('href');
others.removeClass('active');
$this.addClass('active');
$(tabbed_notifications).children('div').hide();
$(target).show();
});
};

CustomTabs();

var tabid = idname = '';

$(document).on('click', '.notification_close', function(e) {
idname = $(this).parent().parent().attr("id");
tabid = idname.substr(-2);
$('#ntf' + tabid).remove();
$('#ntlink' + tabid).parent().remove();
$('.notifications a').first().addClass('active');
$('#notif-group div').first().css('display', 'block');
});
});
</script>
</body>
</html>
