
.manage-societies {
 color:#fff;
 background:#4d6e8d;
 border-radius:50%;
 margin-right:12px;
 padding:10px 11px;
 font-size:18px;
}

.society_summary .profile_view .col-sm-12 {
 height:27%; height:27vh; overflow:auto;
}

.society_summary ul li, .society-data ul li {
 font-size:14px;
 margin-bottom:4px;
 line-height:1.45em;
 color:#666;
}

.society_summary ul li i, .society-data ul li i {
  color:#73879C;
  padding-right:2px;
}

.society_summary ul li .fa-mobile {
 font-size:19px;
 padding-left:3px
}

.society_summary .profile_view h2 {
  text-align:center;
  padding-bottom:8px;
border-bottom: 1px solid #E6E9ED;
color:#4d6e8d;
margin-bottom:9px;
}

.society_summary ul li strong, .society-data ul li strong{
 font-weight:500;
 padding-right:3px;
 color:#73879C;
}

.society_summary .profile_view .bottom {
    padding: 0;
}

.society_summary .profile_view .bottom button {
    margin-bottom: 0;
	font-weight:500;
	letter-spacing:1px;
}

.btn-inactive {
 background:#eee;
 border:1px solid #ccc;
 color:#aaa;
 }
 
.btn-inactive:hover {
 background:#dadada;
 color:#fff;
}

.edit-info_admin  {
margin-top:7px; font-size:15px;text-align:right; cursor:pointer;
}

.edit-info_admin i  {
padding-right:8px 
}

/*society_admin page */

.society-data ul li {
 font-size:15px;
 margin-bottom:4px;
 line-height:1.6em
}

.active-txt {
  color:#26B99A;
  font-weight:500;
}

.inactive-txt  {
 color:#c9302c;
 font-weight:500;
}

.society-data ul li i {
 padding-right:3px;
}

.society-data ul li  .fa-usb {
  font-size:13px;
 }
 
 .society-data ul li  .fa-map-marker {
  font-size:17px;
  padding-left:1px; padding-right:1px;
 }
  
.society-data ul li .fa-mobile {
 font-size:17px;
 padding-left:3px; padding-right:1px;
}

.society-data ul li .fa-envelope, .society-data ul li .fa-desktop {
 font-size:14px;
}

.society-data p {
 font-size:20px;
 font-weight:500;
 line-height:1.6em;
}

.select-modules label  {
 padding-left:0;
 font-size:15px;
 margin-bottom:4px;
}

.select-modules .icheckbox_flat-green {
 margin-top:-3px;
 margin-right:3px;
}

.label_admin-info  {
  font-size:20px;
 font-weight:500;
 margin-top:7px; margin-bottom:12px;
 border-bottom: 1px solid #e6eaed;
}

.society-admin li {
 font-size:15px;
 margin-bottom:4px;
 line-height:1.55em;
 color:#666;
}

.society-admin li i {
  color:#73879C;
}

.society-admin li strong{
 font-weight:500;
 padding-right:3px;
 color:#73879C;
}

.society-admin li i  {
  padding-right:3px;
 }

.society-admin li .fa-usb  {
  font-size:12px;
 }
 
.society-data .form-group {
 margin-bottom:16px;
}

.cancel-info_admin  {
  margin-top:15px; font-size:15px;float:right; display:inline-block; cursor:pointer;
}

.cancel-info_admin i {
    padding-right:8px;
}

.save-info_admin  {
margin-top:15px; font-size:15px; float:right; display:inline-block; padding-right:17px; cursor:pointer;
}

.save-info_admin i {
   padding-right:8px;
}