<div class="col-md-3 left_col">
    <div class="left_col scroll-view">
        <div class="navbar nav_title" style="border:0;">
            <a href="/admin/profile" class="site_title">
                <!--<i class="fa fa-paw"></i> <span>Gentellela Alela!</span>-->
                <img src="/images/Smart-tech-society-logo.png" alt="..." class="img-responsive ss-logo">
            </a>
        </div>

        <div class="clearfix"></div>

        <!-- menu profile quick info -->
        <a href="/admin/profile">
        <div class="profile">
            <div class="profile_pic">
                <img src="/images/img.jpg" alt="..." class="img-circle profile_img">
            </div>
            <div class="profile_info">
                <span>Welcome,</span>

                <h2>V.S Prasad</h2>
            </div>
        </div>
        </a>
        <!-- /menu profile quick info -->
        <!-- sidebar menu -->
                <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                    <div class="menu_section">
                        <!--<h3>General</h3>-->
                        <ul class="nav side-menu">
                            <li><a href="/admin/notices"><i class="fa fa-bullhorn"></i> Notices </a></li>
                            <li><a href="/admin/services"><i class="fa fa-cog"></i> My Services</a></li>
                            <li><a href="/admin/bills"><i class="fa fa-dollar"></i> My Bills</a></li>
                            <li><a href="/admin/documents"><i class="fa fa-folder-open"></i> My Documents </a></li>
                            <li><a href="/admin/employees"><i class="fa fa-group"></i> Employee List </a></li>
                            <li><a href="/admin/emergency"><i class="fa fa-plus-circle"></i> Emergency Contacts </a></li>
                            <li><a href="/admin/visitors"><i class="fa fa-eye"></i> Frequent Visitors </a></li>
                            <li><a href="/admin/board"><i class="fa fa-group"></i> Board of Members </a></li>
                            <li><a href="/admin/classified"><i class="fa fa-newspaper-o"></i> Classified Ads </a></li>
                            <li><a href="/admin/polls"><i class="fa fa-bar-chart"></i> Opinion Poll </a></li>
                            <li><a href="/admin/residents"><i class="fa fa-search"></i> Search Residents </a></li>
                            <li><a href="/admin/contacts"><i class="fa fa-envelope"></i> Contact Us </a></li>
                            <li><a href="/admin/faq"><i class="fa fa-question-circle"></i> FAQ </a></li>
                            <li><a href="/admin/"></a></li>
                            <li><a href="/admin/"></a></li>
                            <li><a href="/admin/"></a></li>
                        </ul>
                    </div>

                </div>
        <!-- /sidebar menu -->

        <!-- /menu footer buttons -->
                <div class="sidebar-footer hidden-small side-menu-footer">
                    <ul class="nav side-menu">
                        <li><a href="/admin/terms"><i class="fa fa-asterisk terms-icon"></i>Terms & Conditions</a></li>
                    </ul>
                    <p class="side-menu-footer">Powered by: Smartech Labs</p>
                </div>
        =<!-- /menu footer buttons -->
    </div>
    <!-- left_col scroll-view -->
</div>
<!-- col-md-3 left_col -->

<!-- top navigation -->
<div class="top_nav">
    <div class="nav_menu">
        <nav>
            <div class="nav toggle">
                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
            </div>

            <ul class="nav navbar-nav navbar-right">

                <li role="presentation" class="dropdown shift-left">
                    <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown"
                       aria-expanded="false">
                        <i class="fa fa-bell-o"></i>
                        <span class="badge bg-orange">6</span>
                    </a>
                    <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
                        <li>
                            <a>
                                <span class="image"><img src="images/img.jpg" alt="Profile Image"/></span>
                                        <span>
                                            <span>John Smith</span>
                                            <span class="time">3 mins ago</span>
                                        </span>
                                        <span class="message">
                                            Film festivals used to be do-or-die moments for movie makers. They were where...
                                        </span>
                            </a>
                        </li>
                        <li>
                            <a>
                                <span class="image"><img src="images/img.jpg" alt="Profile Image"/></span>
                                        <span>
                                            <span>John Smith</span>
                                            <span class="time">3 mins ago</span>
                                        </span>
                                        <span class="message">
                                            Film festivals used to be do-or-die moments for movie makers. They were where...
                                        </span>
                            </a>
                        </li>
                        <li>
                            <a>
                                <span class="image"><img src="images/img.jpg" alt="Profile Image"/></span>
                                        <span>
                                            <span>John Smith</span>
                                            <span class="time">3 mins ago</span>
                                        </span>
                                        <span class="message">
                                            Film festivals used to be do-or-die moments for movie makers. They were where...
                                        </span>
                            </a>
                        </li>
                        <li>
                            <a>
                                <span class="image"><img src="images/img.jpg" alt="Profile Image"/></span>
                                        <span>
                                            <span>John Smith</span>
                                            <span class="time">3 mins ago</span>
                                        </span>
                                        <span class="message">
                                            Film festivals used to be do-or-die moments for movie makers. They were where...
                                        </span>
                            </a>
                        </li>
                        <li>
                            <div class="text-center">
                                <a>
                                    <strong>See All Alerts</strong>
                                    <i class="fa fa-angle-right"></i>
                                </a>
                            </div>
                        </li>
                    </ul>
                </li>

                <li class="">
                    <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown"
                       aria-expanded="false" style="color:#555658">
                        <img src="/images/img.jpg" alt="">V.S. Prasad
                        <span class=" fa fa-angle-down"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-usermenu pull-right">
                        <li><a href="javascript:;"> Profile</a></li>
                        <li>
                            <a href="javascript:;">
                                <span class="badge bg-red pull-right">50%</span>
                                <span>Settings</span>
                            </a>
                        </li>
                        <li><a href="javascript:;">Help</a></li>
                        <li><a href="/admin/logout"><i class="fa fa-sign-out pull-right"></i> Log Out</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
    <!-- nav_menu -->
</div>
<!-- top_nav -->
<!-- /top navigation -->
